okładka/
Kompleta_1911/
# . Globalne zasady ignorowania plików tymczasowych LaTeX-a
# (będą działać we wszystkich podfolderach, które śledzisz)
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.glog
*.gtex
*.fls
*.gaux
*.mx1
*.fdb_latexmk
*~